In [79]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_taf.csv')
df.head()

,Unnamed: 0,tafid,station,airport,latitude,longitude,elevationmeters,remarks,bulletintimeutc,issuetimeutc,validtimefromutc,validtimetoutc
0,0,3907097,LRIA,IAS,47.17,27.62,104,NaN,2013/O9-07 08:00:OO+00,2O13-O9-07 18:00:0O+00,2O13-09/07 09:00:0O+00,2013-O9-07 18:00:00+OO
1,1,3906430,EFKU,KUO,63.02,27.8,102,NaN,2O13-09-O7 O5:00:00+00,2013/09-O8 06:00:0O+00,2013-O9-07 O6:0O:00+00,2013-09-08 O6:00:0O+00
2,2,3605075,ESNU,UME,63.78,20.27,14,NaN,2O13/08/14 20:O0:00+0O,2013-08-15 06:00:O0+00,2013-O8-14 21:0O:0O+O0,2O13-O8-15 06:0O:O0+00
3,3,3606043,YPTN,KTR,-14.43,132.27,109,NaN,2013/O8-14 23:00:00+0O,2013-08-16 OO:00:00+00,2013-08-15 OO:0O:00+00,2013-08-16 O0:00:00+00
4,4,3607244,EFMA,MHQ,60.12,19.88,6,NaN,2013-08-14 23:00:00+00,2O13-08-15 09:00:00+00,2O13-08-15 00:OO:00+00,2013-O8-15 09:00:00+0O

In [80]:
df.columns

Index(['Unnamed: 0', 'tafid', 'station', 'airport', 'latitude', 'longitude',
       'elevationmeters', 'remarks', 'bulletintimeutc', 'issuetimeutc',
       'validtimefromutc', 'validtimetoutc'],
      dtype='object')

In [81]:
df.shape

(360671, 12)

In [82]:
df.drop_duplicates(inplace = True)

In [83]:
df.shape

(360571, 12)

In [84]:
df1 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_tafforecast.csv')
df2 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_taficing.csv')
df3 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_tafsky.csv')
df4 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_taftemperature.csv')
df5 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_tafturbulence.csv')

C:\Users\Mehika\AppData\Local\Temp\ipykernel_23268\1479159849.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_tafforecast.csv')
C:\Users\Mehika\AppData\Local\Temp\ipykernel_23268\1479159849.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_tafsky.csv')

In [86]:
df1.drop_duplicates(inplace = True)
df2.drop_duplicates(inplace = True)
df3.drop_duplicates(inplace = True)
df4.drop_duplicates(inplace = True)
df5.drop_duplicates(inplace = True)

In [87]:
unique_counts = df.nunique()
potential_keys = unique_counts[unique_counts == len(df)].index.tolist()

if potential_keys:
    print("\nPotential primary key columns:")
    print(potential_keys)
else:
    print("\nNo unique columns found that can be considered as primary keys.")

Potential primary key columns:
['Unnamed: 0', 'tafid']

In [88]:
unique_counts = df1.nunique()
potential_keys = unique_counts[unique_counts == len(df1)].index.tolist()

if potential_keys:
    print("\nPotential primary key columns:")
    print(potential_keys)
else:
    print("\nNo unique columns found that can be considered as primary keys.")

No unique columns found that can be considered as primary keys.

In [89]:
unique_counts = df2.nunique()
potential_keys = unique_counts[unique_counts == len(df2)].index.tolist()

if potential_keys:
    print("\nPotential primary key columns:")
    print(potential_keys)
else:
    print("\nNo unique columns found that can be considered as primary keys.")

Potential primary key columns:
['Unnamed: 0']

In [90]:
unique_counts = df3.nunique()
potential_keys = unique_counts[unique_counts == len(df3)].index.tolist()

if potential_keys:
    print("\nPotential primary key columns:")
    print(potential_keys)
else:
    print("\nNo unique columns found that can be considered as primary keys.")

Potential primary key columns:
['Unnamed: 0']

In [91]:
unique_counts = df4.nunique()
potential_keys = unique_counts[unique_counts == len(df4)].index.tolist()

if potential_keys:
    print("\nPotential primary key columns:")
    print(potential_keys)
else:
    print("\nNo unique columns found that can be considered as primary keys.")

Potential primary key columns:
['Unnamed: 0']

In [37]:
unique_counts = df5.nunique()
potential_keys = unique_counts[unique_counts == len(df5)].index.tolist()

if potential_keys:
    print("\nPotential primary key columns:")
    print(potential_keys)
else:
    print("\nNo unique columns found that can be considered as primary keys.")

Potential primary key columns:
['Unnamed: 0']

In [92]:
df1.columns

Index(['Unnamed: 0', 'tafforecastid', 'tafid', 'altimiter', 'changeindicator',
       'forecasttimefromutc', 'forecasttimetoutc', 'probability',
       'timebecomingutc', 'verticalvisibility', 'visibilitystatutemiles',
       'windspeedknots', 'winddirectiondegrees', 'windgustspeedknots',
       'windsheardirectiondegrees', 'windshearheightfeet',
       'windshearspeedknots', 'weatherstring', 'notdecoded'],
      dtype='object')

In [93]:
df1['Unnamed: 0'].is_unique

False

In [94]:
taf1 = df.merge(df1, on = 'tafid', how='outer')
taf1.head()

,Unnamed: 0_x,tafid,station,airport,latitude,longitude,elevationmeters,remarks,bulletintimeutc,issuetimeutc,...,verticalvisibility,visibilitystatutemiles,windspeedknots,winddirectiondegrees,windgustspeedknots,windsheardirectiondegrees,windshearheightfeet,windshearspeedknots,weatherstring,notdecoded
0,0,3907097,LRIA,IAS,47.17,27.62,104,NaN,2013/O9-07 08:00:OO+00,2O13-O9-07 18:00:0O+00,...,NaN,6.21,12.0,300.0,NaN,NaN,NaN,NaN,NSW,NaN
1,1,3906430,EFKU,KUO,63.02,27.8,102,NaN,2O13-09-O7 O5:00:00+00,2013/09-O8 06:00:0O+00,...,NaN,6.21,5.0,200.0,NaN,NaN,NaN,NaN,NSW,NaN
2,2,3605075,ESNU,UME,63.78,20.27,14,NaN,2O13/08/14 20:O0:00+0O,2013-08-15 06:00:O0+00,...,NaN,6.21,4.0,310.0,NaN,NaN,NaN,NaN,NSW,NaN
3,3,3606043,YPTN,KTR,-14.43,132.27,109,NaN,2013/O8-14 23:00:00+0O,2013-08-16 OO:00:00+00,...,NaN,6.21,8.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3607244,EFMA,MHQ,60.12,19.88,6,NaN,2013-08-14 23:00:00+00,2O13-08-15 09:00:00+00,...,NaN,6.21,6.0,310.0,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
df2.drop('Unnamed: 0', axis = 1, inplace = True)

In [96]:
df3.drop('Unnamed: 0', axis = 1, inplace = True)

In [97]:
df4.drop('Unnamed: 0', axis = 1, inplace = True)

In [98]:
df5.drop('Unnamed: 0', axis = 1, inplace = True)

In [100]:
taf2 = df2.merge(df3, on='tafforecastid', how='outer')
taf2 = taf2.merge(df4, on='tafforecastid', how='outer')  
taf2 = taf2.merge(df5, on='tafforecastid', how='outer')  
taf2.head()

,tafforecastid,intensity_x,minimumaltitudefeet_x,maximumaltitudefeet_x,cloudbasefeet,cloudtype,cloudcover,validtimeutc,mintemperaturecelcius,maxtemperaturecelcius,surfacetemperaturecelcius,intensity_y,minimumaltitudefeet_y,maximumaltitudefeet_y
0,12219652,NaN,NaN,NaN,800.0,NaN,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12219652,NaN,NaN,NaN,2000.0,NaN,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12245366,NaN,NaN,NaN,800.0,NaN,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12245366,NaN,NaN,NaN,2000.0,NaN,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12297017,NaN,NaN,NaN,2500.0,NaN,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
taf2.shape

(1556088, 14)

In [102]:
taf1.to_csv('taf1.csv', index = False)

In [103]:
taf2.to_csv('taf2.csv', index = False)

In [104]:
df_air1 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_airsigmet.csv')
df_air2 = pd.read_csv('C:\\Users\\Mehika\\OneDrive\\Documents\\Semester 3\\DataHack 3.0\\data science dataset\\dirty data 2\\training2_airsigmetarea.csv')

In [109]:
df_air1.shape

(1801, 11)

In [110]:
df_air2.shape

(19131, 5)

In [111]:
df_air1.drop_duplicates(inplace = True)

In [112]:
df_air1.shape

(1801, 11)

In [113]:
df_air2.drop_duplicates(inplace = True)

In [114]:
df_air2.shape

(19031, 5)

In [115]:
df_air1.columns

Index(['Unnamed: 0', 'airsigmetid', 'timevalidfromutc', 'timevalidtoutc',
       'movementdirdegrees', 'movementspeedknots', 'hazardtype',
       'hazardseverity', 'airsigmettype', 'altitudeminft', 'altitudemaxft'],
      dtype='object')

In [116]:
df_air2.columns

Index(['Unnamed: 0', 'airsigmetid', 'latitude', 'longitude', 'ordinal'], dtype='object')

In [117]:
df_air1.drop('Unnamed: 0', axis = 1, inplace = True)
df_air2.drop('Unnamed: 0', axis = 1, inplace = True)

In [118]:
df_air1.shape

(1801, 10)

In [119]:
df_air2.shape

(19031, 4)

In [120]:
unique_counts = df_air1.nunique()
potential_keys = unique_counts[unique_counts == len(df_air1)].index.tolist()

if potential_keys:
    print("\nPotential primary key columns:")
    print(potential_keys)
else:
    print("\nNo unique columns found that can be considered as primary keys.")

Potential primary key columns:
['airsigmetid']

In [121]:
unique_counts = df_air1.nunique()
potential_keys = unique_counts[unique_counts == len(df_air1)].index.tolist()

if potential_keys:
    print("\nPotential primary key columns:")
    print(potential_keys)
else:
    print("\nNo unique columns found that can be considered as primary keys.")

Potential primary key columns:
['airsigmetid']

In [122]:
air_merged = df_air1.merge(df_air2, on = 'airsigmetid', how='outer')

In [123]:
air_merged.head()

,airsigmetid,timevalidfromutc,timevalidtoutc,movementdirdegrees,movementspeedknots,hazardtype,hazardseverity,airsigmettype,altitudeminft,altitudemaxft,latitude,longitude,ordinal
0,32927,2013-08-17 14:55:OO+O0,2013/08-17 18:55:0O+00,NaN,NaN,CONVECTIVE,NaN,OUTLOOK,NaN,NaN,31.2946,-86.9053,0
1,32927,2013-08-17 14:55:OO+O0,2013/08-17 18:55:0O+00,NaN,NaN,CONVECTIVE,NaN,OUTLOOK,NaN,NaN,28.0003,-86.6800,1
2,32927,2013-08-17 14:55:OO+O0,2013/08-17 18:55:0O+00,NaN,NaN,CONVECTIVE,NaN,OUTLOOK,NaN,NaN,28.2357,-91.1670,2
3,32927,2013-08-17 14:55:OO+O0,2013/08-17 18:55:0O+00,NaN,NaN,CONVECTIVE,NaN,OUTLOOK,NaN,NaN,29.8500,-90.0000,3
4,32927,2013-08-17 14:55:OO+O0,2013/08-17 18:55:0O+00,NaN,NaN,CONVECTIVE,NaN,OUTLOOK,NaN,NaN,30.7300,-88.3600,4

In [124]:
air_merged.to_csv('air_merged.csv', index = False)